<!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        
       <!--  <ul class="navbar-nav mr-auto"> -->
      <form class="form-inline" id="submit_param1" method="", action="{{ url_for('index') }}">
				    
        <button type="button" class="nav-link bg-info" onClick="document.getElementById('submit_param1').submit();">Home
        </button>
      </form>
      
      <form class="form-inline" id="submit_param2" method="POST" action="{{ url_for('scientist_onboard') }}">
		    
        <button type="button" class="nav-link bg-info" onClick="document.getElementById('submit_param2').submit();">Scientists Onboard ISS
		    </button>
      </form>

        
      <form class="form-inline" id="submit_param3" method="POST" action="{{ url_for('ISS_tracker') }}">
      
        <button class="nav-link bg-info" onClick="document.getElementById('submit_param3').submit();">ISS location Passes Prediction</button>
        
      </form>
    <!-- </ul>  -->
      </div>
    </div>
    </nav>
    <!-- Navbar -->